{% extends 'base.html' %}
{% block title %}Library Management Home{% endblock %}
{% block content %}
    <div class="container mt-4">
        <h1 class="text-center mb-4">Library Book List</h1>
        <div class="row">
            {% for book in books %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ book.title }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Author: {{ book.author }}</h6>
                            <p class="card-text"><strong>ISBN:</strong> {{ book.isbn }}</p>
                            <p class="card-text"><strong>Summary:</strong> {{ book.summary|truncatewords:30 }}</p>
                            <p class="card-text"><strong>Categories:</strong>
                                {% for cat in book.category.all %}
                                    <span class="badge bg-info text-dark">{{ cat.name }}</span>
                                {% endfor %}
                            </p>
                        </div>
                        <div class="card-footer text-center">
                            <a href="{% url 'book:book_update' book.id %}" class="btn btn-warning">Edit</a>
                            <a href="{% url 'book:book_delete' book.id %}" class="btn btn-danger">Delete</a>
                            {% if book.is_available %}
                                <a href="{% url 'book:borrow_book' book.id%}" class="btn btn-primary">Borrow</a>
                            {% else %}
                                <span class="badge bg-secondary">Not Available</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
